<section id="title">
    <header id="fnwd" class="header big">Full stack web developer</header>
    <p class="maintext center-text">I love creating simple intelligent things </p>
    <p class="maintext center-text">and automate everything around me.</p>
    <img src="imgs/mepic.jpg" class="mepic">
</section>
<section id="intro">
    <div class="rect shadowed">
        <div class="container-basic bordered">
            <header class="header mid regular white">Hi, my name is Fedor. I'm your friendly neighborhood web developer :)</header>
            <p class="maintext center-text white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores cum delectus distinctio ea eligendi eos esse et eum facilis hic illo in iure laborum magni, maiores minus nam non omnis quaerat ratione sit totam voluptas voluptatibus. Corporis incidunt iure iusto rem sunt? Atque cum facere harum hic odit quis quos repellendus totam? Accusantium adipisci animi architecto corporis, culpa debitis fugiat inventore ipsa ipsam ipsum iure laboriosam maxime nemo nulla officiis omnis placeat quae quod sunt ullam vitae voluptatem?</p>
        </div>
    </div>
</section>
<section id="stack" class="container-basic bordered">
    <div class="stack-item shadowed">
        <div class="stack-item-content">
            <header class="header mid regular primary-color">Frontend stack</header>
            <article>
                <p>HTML5</p>
                <p>CSS & SASS</p>
                <p>JavaScript</p>
                <p>jQuery</p>
                <p>React & Redux</p>
            </article>
        </div>
    </div>
    <div class="stack-item shadowed">
        <div class="stack-item-content">
            <header class="header mid regular primary-color">Backend stack</header>
            <article>
                <p>NodeJS</p>
                <p>Express</p>
                <p>Handlebars</p>
                <p>MongoDB</p>
                <p>Postgres</p>
                <p>Python</p>
                <p>RESTful API</p>
                <p>NPM</p>
                <p>WebPack</p>
                <p>Gulp</p>
            </article>
            <div>
                <p>Numerous NPM modules, including Passport, Bcrypt, flash-messaging, and others.</p>
            </div>
        </div>
    </div>
    <div class="stack-item shadowed">
        <div class="stack-item-content">
            <header class="header mid regular primary-color">Tools of the trade</header>
            <article>
                <p>Figma</p>
                <p>Photoshop</p>
                <p>WebStorm</p>
                <p>PyStorm</p>
                <p>Github</p>
                <p>Postman</p>
                <p>DataGrip</p>
                <p>Heroku</p>
                <p>Jupyter Notebook</p>
                <p>MongoDB Atlas</p>
                <p>Linux Mint</p>
                <p>MacOS</p>
                <p>Terminal</p>
                <p>Codepen</p>
                <p>React Storybook</p>
                <p>Reactotron</p>
                <p>Materialize</p>
                <p>Bootstrap</p>
                <p>Python NumPy, SciPy, Pandas</p>
                <p>Jest</p>
                <p>MochaJS</p>
                <p>Docker</p>
            </article>
        </div>
    </div>
</section>
<section id="projects"  class="bordered">
    <div class="project-item"></div>
</section>