<section id="title">
    <header id="fnwd" class="header big">Full stack web developer</header>
    <p class="maintext center-text">I love creating simple intelligent things </p>
    <p class="maintext center-text">and automate everything around me.</p>
    <img src="imgs/mepic.jpg" class="mepic">
</section>
<section id="intro">
    <div class="rect shadowed">
        <div class="container-basic">
            <header class="header mid regular white">Hi, my name is Fedor. I'm your friendly neighborhood web developer :)</header>
            <p class="maintext center-text white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores cum delectus distinctio ea eligendi eos esse et eum facilis hic illo in iure laborum magni, maiores minus nam non omnis quaerat ratione sit totam voluptas voluptatibus. Corporis incidunt iure iusto rem sunt? Atque cum facere harum hic odit quis quos repellendus totam? Accusantium adipisci animi architecto corporis, culpa debitis fugiat inventore ipsa ipsam ipsum iure laboriosam maxime nemo nulla officiis omnis placeat quae quod sunt ullam vitae voluptatem?</p>
        </div>
    </div>
</section>
<section id="stack" class="container-basic">
    <div class="stack-item shadowed">
        <div class="stack-item-content">
            <header class="mid regular margin-top-20">Frontend stack</header>
            <p class="maintext center-text">I like simple minimalistic things</p>
            <p class="maintext center-text">that work fast and smooth.</p>
            <article class="margin-bottom-30">
                <header class="maintext center-text secondary-dark lesser-header no-margin margin-top-15 maintext">My toolset</header>
                <p class="maintext">HTML5</p>
                <p class="maintext">CSS & SASS</p>
                <p class="maintext">JavaScript</p>
                <p class="maintext">jQuery</p>
                <p class="maintext">React & Redux</p>
            </article>
        </div>
    </div>
    <div class="stack-item shadowed">
        <div class="stack-item-content">
            <header class="mid regular margin-top-20">Backend stack</header>
            <p class="maintext center-text">The part where there's pure beauty and joy</p>
            <p class="maintext center-text">and grace and feast of intelligence.</p>
            <article class="margin-bottom-30">
                <header class="maintext center-text secondary-dark lesser-header no-margin margin-top-15 maintext">My toolset</header>
                <p class="maintext">NodeJS</p>
                <p class="maintext">Express</p>
                <p class="maintext">Handlebars</p>
                <p class="maintext">MongoDB</p>
                <p class="maintext">Postgres</p>
                <p class="maintext">Python</p>
                <p class="maintext">RESTful API</p>
                <p class="maintext">NPM</p>
                <p class="maintext">WebPack</p>
                <p class="maintext">Gulp</p>
                <p class="margin-symetrical-10">Plus numerous NPM modules, including Passport, Bcrypt, flash-messaging, and others.</p>
            </article>
        </div>
    </div>
    <div class="stack-item shadowed margin-bottom-20">
        <div class="stack-item-content">
            <header class="mid regular margin-top-20">Dev Tools</header>
            <p class="maintext center-text">There's no good job without great toolset.</p>
            <article class="margin-bottom-30">
                <header class="maintext center-text secondary-dark lesser-header no-margin margin-top-15 maintext">My toolset</header>
                <p class="maintext">Figma</p>
                <p class="maintext">Photoshop</p>
                <p class="maintext">Jetbrains WebStorm</p>
                <p class="maintext">Jetbrains PyStorm</p>
                <p class="maintext">Github</p>
                <p class="maintext">Postman</p>
                <p class="maintext">DataGrip</p>
                <p class="maintext">Heroku</p>
                <p class="maintext">Jupyter Notebook</p>
                <p class="maintext">MongoDB (incl. Atlas)</p>
                <p class="maintext">Linux Mint</p>
                <p class="maintext">MacOS</p>
                <p class="maintext">Terminal</p>
                <p class="maintext">Codepen</p>
                <p class="maintext">React Storybook</p>
                <p class="maintext">Reactotron</p>
                <p class="maintext">Materialize</p>
                <p class="maintext">Bootstrap</p>
                <p class="maintext">Python NumPy, SciPy, Pandas</p>
                <p class="maintext">Jest</p>
                <p class="maintext">MochaJS</p>
                <p class="maintext">Jasmine</p>
                <p class="maintext">Docker</p>
            </article>
        </div>
    </div>
</section>
<section id="projects"  class="margin-top-20 container-basic">
    <segment class="margin-top-20">
        <header class="mid bold secondary-dark">Recent projects</header>
        <p class="maintext center-text">Here's some projects I completed recently.</p>
    </segment>
    <div class="project-item shadowed">
        <a href="/project"><div class="project-button read-project"><p class="white">Read about project</p></div></a>
        <div class="project-button visit-site"><p class="white">Visit web-site</p></div>
    </div>
</section>