@import 'colors';
@import 'picsnicons';
@import '_functions';
@import 'typo';
@import 'margins';
@import "figures";
@import "projectitem";

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}