@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
.mepic {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 12em;
  height: 12em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4.5rem;
}

header {
  padding: 0.75rem 0.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.lesser-header {
  padding: 0.75rem 0.1rem;
  margin: 0rem;
}

.primary-color {
  color: #42a5f5;
}

.secondary-dark {
  color: #0077c2;
}

.big {
  font-size: 2em;
}

.mid {
  font-size: 1.5rem;
}

.regular {
  font-weight: normal;
}

.bold {
  font-weight: 600;
}

.maintext {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.center-text {
  text-align: center;
}

.white {
  color: white;
}

.margin-0 {
  margin: 0;
}

.margin-5 {
  margin: 0.5rem;
}

.margin-10 {
  margin: 1rem;
}

.margin-15 {
  margin: 1.5rem;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-5 {
  margin-top: 0.5rem;
}

.margin-top-10 {
  margin-top: 1.5rem;
}

.margin-top-15 {
  margin-top: 1.5rem;
}

.margin-top-20 {
  margin-top: 2rem;
}

.margin-bottom-0 {
  margin-bottom: 0rem;
}

.margin-bottom-5 {
  margin-bottom: 0.5rem;
}

.margin-bottom-10 {
  margin-bottom: 1.5rem;
}

.margin-bottom-15 {
  margin-bottom: 1.5rem;
}

.margin-bottom-20 {
  margin-bottom: 2rem;
}

.margin-bottom-25 {
  margin-bottom: 2.5rem;
}

.margin-bottom-30 {
  margin-bottom: 3rem;
}

.margin-symetrical-5 {
  margin: 0 0.5rem;
}

.margin-symetrical-10 {
  margin: 0 1rem;
}

.margin-symetrical-15 {
  margin: 0 1.5rem;
}

.margin-symetrical-20 {
  margin: 0 2rem;
}

.rect {
  background-color: #42a5f5;
  display: block;
  height: 36rem;
  width: 100%;
}

.shadowed {
  -webkit-box-shadow: 0rem 0.4rem 0.5rem -0.2rem #9c9a9c;
  -moz-box-shadow: 0rem 0.4rem 0.5rem -0.2rem #9c9a9c;
  box-shadow: 0rem 0.4rem 0.5rem -0.2rem #9c9a9c;
}

#stack {
  transform: translateY(-15rem);
}

.stack-item {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
  border: 0.05rem solid lightgrey;
}

.container-basic {
  width: 90%;
  text-align: justify;
  margin: 0 auto;
}

.stack-item-content {
  text-align: center;
}

.project-item {
  border-radius: 0.5rem;
  background-color: #0077c2;
  width: 90vw;
  height: 60vw;
  margin: 1rem auto;
}

.bordered {
  border: 1px solid red;
}

#projects {
  transform: translateY(-15rem);
}

.project-item {
  border-radius: 0.5rem;
  background-color: #42a5f5;
  width: 90vw;
  height: 60vw;
  margin: 1rem auto;
}

.project-item:hover {
  background-color: #0077c2;
}

.project-button {
  width: 40%;
  height: 10%;
  border-radius: 16px;
  background-color: #0077c2;
  border: 1px solid #80d6ff;
  text-align: center;
  color: #80d6ff;
}

.read-project {
  position: absolute;
  display: block;
  left: 30%;
  top: 54%;
}

.visit-site {
  position: absolute;
  display: block;
  left: 30%;
  top: 66%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/*# sourceMappingURL=main.css.map */
