
.margin-0{
  margin:0;
}

.margin-5{
  margin:0.5rem;
}

.margin-10{
  margin:1rem;
}

.margin-15{
  margin:1.5rem;
}

.margin-top-0{
  margin-top:0;
}

.margin-top-5{
  margin-top:0.5rem;
}

.margin-top-10{
  margin-top:1.5rem;
}
.margin-top-15{
  margin-top:1.5rem;
}

.margin-top-20{
  margin-top:2rem;
}

.margin-bottom-0{
  margin-bottom: 0rem;
}

.margin-bottom-5{
  margin-bottom: 0.5rem;
}

.margin-bottom-10{
  margin-bottom: 1.5rem;
}

.margin-bottom-15{
  margin-bottom: 1.5rem;
}

.margin-bottom-20{
  margin-bottom: 2rem;
}

.margin-bottom-25{
  margin-bottom: 2.5rem;
}

.margin-bottom-30{
  margin-bottom: 3rem;
}

.margin-symetrical-5{
  margin: 0 0.5rem;
}

.margin-symetrical-10{
  margin: 0 1rem;
}

.margin-symetrical-15{
  margin: 0 1.5rem;
}


.margin-symetrical-20{
  margin: 0 2rem;
}
