$button-width:40%;
$button-height:3.3rem;
$project-button-top:100%-$button-width;
$project-button-left:100%-$button-width;
$project-button-border-radius:16px;

.project-item{
  border-radius: $border-radius;
  background-color: color(primary);
  width: $vp-width-small;
  height: $vp-height-small;
  margin: 1rem auto;
  transition: 0.4s all;
}

.project-button{
  position: absolute;
  display: none;
  width:$button-width;
  height:$button-height;
  border-radius: $project-button-border-radius;
  background-color: color(dark);
  border: 1px solid color(light);
  text-align: center;
  color:color(light);
  transition: 0.4s all;
}

.read-project{
  left:$project-button-left/2;
  top:$project-button-top*.8;
}

.visit-site{
  left:$project-button-left/2;
  top:$project-button-top*0.51;
}

.project-item:hover .read-project,
.project-item:hover .visit-site{
  display: block;
}

.project-item:hover{
  background-color: color(dark);
  transform: scale(1.01);
}

.project-button:hover{
  background-color: color(light);
  cursor: pointer;

  transform: scale(1.04);
}
