@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


.header{
  padding: 0.75rem 0.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.big{
  font-size: 2em;
}

.mid{
  font-size: 1.5rem;
}

.regular{
  font-weight: normal;
}

.maintext{
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.center-text{
  text-align: center;
}

.white{
  color:white;
}
